<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HealthMO</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.6.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

    <script src="../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


</head>
<body>
<div th:include="fragments/header :: header" class="topnav"></div>
<div class="about-page">
    <div class="about-app">
        <h2>About HealthMonitoring</h2>
        <p>
            HealthMonitoring (or HealthMO) is a web application for healthcare professionals
            that allows real-time monitoring and interpretation of vital signs, which are transmitted
            from patients' smartwatches.
        </p>
        <p>
            The application allows each healthcare professional to monitor a specific group
            and number of people associated with it. Each healthcare professional may also add a patient
            with certain details, such as personal data, medical data, smartwatch data from which vital
            signs will be transmitted, and an emergency contact information.
            This data can be further modified or even deleted.
            In addition, the medical staff has access to reports generated daily
            by the system that contain data on the average values of the health indices
            in a day of the assigned patients. In addition, due to the GDPR regulations in force,
            the system will delete data on vital signs of patients older than ninety days,
            which are personal data.
        </p>

        <p>
            This is an application developed as part of the bachelor's thesis.
        </p>

    </div>
    <div class="questions">
        <h2>Frequently asked questions</h2>
        <ul>
            <li><a href="#1">How do I add a patient?</a></li>
            <li><a href="#2">How do I edit a patient's details?</a></li>
            <li><a href="#3">How do I edit delete a patient?</a></li>
            <li><a href="#4">What happens if I delete a patient?</a></li>
            <li><a href="#5">Can I edit my profile details?</a></li>
            <li><a href="#6">How can I see more information about a patient?</a></li>
            <li><a href="#7">How can I search reports by date?</a></li>
            <li><a href="#8">How are the alerts interpreted?</a></li>
        </ul>
    </div>
    <div>
        <h2>Answers</h2>
        <div id="1">
            <h4>How do I add a patient?</h4>
            <p>
                In order to add a patient, you will need the following information:
            </p>
            <ul>
                <li>Patient's full name</li>
                <li>Patient's email</li>
                <li>Patient's phone number</li>
                <li>Patient's CNP</li>
                <li>Patient's birth date</li>
                <li>Patient's home address</li>
            </ul>
            <ul>
                <li>Device IMEI</li>
                <li>Device brand</li>
                <li>Device model</li>
            </ul>
            <ul>
                <li>Emergency contact's full name</li>
                <li>Emergency contact's phone number</li>
                <li>Type of relationship with the patient</li>
            </ul>
            <h6>These fields are mandatory.</h6>
            <p>
                You can also add information about patient's health such as diseases, treatments or other details.
            </p>
            <p>
                If you want to add a patient, click on "Add a patient" button on the top of the page, or simply click <a
                    th:href="@{/add-patient}">here</a>.
            </p>
        </div>

        <div id="2">
            <h4>How do I edit a patient's details?</h4>
            <p>
                In order to edit a patient's details, you have to access their personal page. To do so,
                go to <a th:href="@{/dashboard}">dashboard</a>, where all the patients assigned to you are displayed.
                Click on the <i class="fa fa-info-circle" aria-hidden="true"></i> icon on the patient's card.
                You will be redirected to their page. Click the "EDIT" button and change the fields you want
                to the press "SAVE".
                If you change your mind, press "CANCEL".
            </p>
        </div>

        <div id="3">
            <h4>How do I edit delete a patient?</h4>
            <p>
                To delete a patient, you have to access their personal page. To do so,
                go to <a th:href="@{/dashboard}">dashboard</a>, where all the patients assigned to you are displayed.
                Click on the <i class="fa fa-info-circle" aria-hidden="true"></i> icon on the patient's card.
                You will be redirected to their page. Click the "DELETE" button. A confirmation pop-up will appear.
                Press "OK" if you still want to delete the patient, or press "CANCEL" if you pressed delete by mistake.
            </p>
        </div>

        <div id="4">
            <h4>What happens if I delete a patient?</h4>
            <p>
                When you delete a patient, all their data will be lost,
                including vital signs track, reports emergency contact, medical records or information
                about their device, without the ability to recover it.
            </p>
        </div>

        <div id="5">
            <h4>Can I edit my profile details?</h4>
            <p>
                This is an institutional application, therefore you cannot change your own personal data.
                In case this is a mandatory matter, please contact the admin.
            </p>
        </div>

        <div id="6">
            <h4>How can I see more information about a patient?</h4>
            <p>
                To see more information about a patient, you have to access their personal page. To do so,
                go to <a th:href="@{/dashboard}">dashboard</a>, where all the patients assigned to you are displayed.
                Click on the <i class="fa fa-info-circle" aria-hidden="true"></i> icon on the patient's card.
                You will be redirected to their page.
                On this page, you are able to see everything about this patient, including:
            <ul>
                <li>Patient's full name</li>
                <li>Patient's email</li>
                <li>Patient's phone number</li>
                <li>Patient's CNP</li>
                <li>Patient's birth date</li>
                <li>Patient's home address</li>
            </ul>
            <ul>
                <li>Device IMEI</li>
                <li>Device brand</li>
                <li>Device model</li>
            </ul>
            <ul>
                <li>Diseases</li>
                <li>Treatments</li>
                <li>Other details related to medical condition</li>
            </ul>
            <ul>
                <li>Emergency contact's full name</li>
                <li>Emergency contact's phone number</li>
                <li>Type of relationship with the patient</li>
            </ul>

            Also, you are able to see:
            <ul>
                <li>The moment when they last issued their vital signs</li>
                <li>Patient's latest vital signs</li>
                <li>Alerts</li>
                <li>Patient vital signs in the last 20 minutes</li>
            </ul>

            </p>
        </div>

        <div id="7">
            <h4>How can I search reports by date?</h4>
            <p>
                You can see the reports for the previous day by clicking <a th:href="@{/dashboard/reports}">here</a>.
                If you want to see the reports for any other date, simply select another date on the
                <a th:href="@{/dashboard/reports}">reports page</a> and press "GO".
            </p>
        </div>


        <div id="8">
            <h4>How are the alerts interpreted?</h4>
            <p>
                <b>General:</b>
                Depending on the health index, the alerts are BLOOD_PRESSURE (for high blood pressure),
                PULSE (for pulse problems), OXYGEN_IN_BLOOD (for oxygen in the blood), BODY_TEMPERATURE
                (for abnormal body temperature), DEVICE ( for device-related malfunctions, such as missing a value)
                or OTHERS (for any problem not covered by the above types). Depending on the severity of the condition,
                alerts may be HIGH, MEDIUM, or LOW.
            </p>
            <p>
                <b>Heart rate:</b>
                The message that accompanies each alert refers to the value of the health index,
                in some cases also presenting an appropriate reference range depending on age.
                When interpreting a patient's pulse values, their age will also be taken into account.
                According to the <a href="https://www.cdc.gov/">US Centers for Disease Control and Prevention</a> (i.e.
                CDC),
                the normal reference range for moderate intensity activities is between 64% and 76% of the maximum heart
                rate.
                The maximum heart rate of a person is calculated according to the following formula:
                <em>
                    maxHeartRate = 220-age
                </em>
                where maxHeartRate represents the maximum heart rate and age represents the patient's age.
                Depending on this indicator, the optimal range can be calculated. For example, for a person in his
                fifties,
                the maximum heart rate would be calculated as 220 - 50 = 170 bpm (beats per minute). The minimum value
                of the interval, respectively 64% of 170 is 109 bpm, and the maximum value of the interval represents
                76%
                of the maximum heart rate, ie 129 bpm. Thus, it is recommended that the pulse of a fifty-year-old person
                maintain values between 109 bpm and 129 bpm. If this is not done, a message will be attached to the
                alert, including the corresponding normal range.
            </p>
            <p>
                <b>Body temperature and oxygen level:</b>
                In the case of body temperature, the CDC recommends values between 36.5 and 37.2 degrees Celsius
                for a healthy adult, and in terms of blood oxygen levels, values below 90% are considered critical.
            </p>
            <p>
                <b>Blood pressure:</b>
                For the interpretation of blood pressure values, two values are recorded, namely
                systolic pressure and diastolic pressure, in the format "systolic / diastolic". Systolic
                pressure refers to the pressure inside the artery when the heart contracts and pumps blood
                into the body. Diastolic pressure refers to the pressure inside the artery when the heart is
                resting and filling with blood. Both pressures are measured in mmHg (millimeters of mercury column).
                Blood pressure can be classified as normal (when the systolic pressure is less than 120 and the
                diastolic
                pressure is less than 80), high (when the systolic pressure is between 120 and 129 and the diastolic
                pressure
                is less than 80), in stage 1 ( when the systolic pressure is between 130 and 139 or the diastolic
                pressure
                is
                between 80 and 89) and stage 2 (when the systolic pressure is greater than 140 or the diastolic pressure
                is
                greater than or equal to 90). The message displayed in case the recorded values will not be in the
                normal range will also include the category in which it falls.
            </p>
        </div>
    </div>

</div>

</body>
</html>