<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HealthMO</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.6.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

    <script src="../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        window.setInterval('refresh()', 5000);

        // Refresh or reload page.
        function refresh() {
            window.location.reload();
            console.log("refresh");
        }
    </script>

</head>
<body>

<div class="card-holder">
    <div class="card" th:each="data : ${patients}">
        <a th:href="@{/dashboard/patients/{id}(id=${data.getPatientId()})}"> <i class="fa fa-info-circle"
                                                                                aria-hidden="true"></i></a>
        <div class="name-and-status-dashboard-card">
            <div class="name-and-status-left">
                <h2 th:text="${data.getName()}" id="name">Full name</h2>
                <h3 th:text="|Age ${data.getAge()}|" id="age"></h3>
            </div>
            <div class="name-and-status-right">
                <span th:if="${data.getIsOnline()}" id="isOnline"><i class="fa fa-circle" style="color:green"
                                                                     aria-hidden="true"></i></span>
                <span th:unless="${data.getIsOnline()}" id="lastSeen">Last seen at [[${#temporals.format(data.getLastSeen(), 'dd-MM-yyyy HH:mm')}]]</span>
            </div>
        </div>
        <div class="vitals-signs">
            <div class="vital-signs-left">
                <div th:with="alert = ${data.getAlerts().^[alertType == T(com.example.healthmonitoring.common.domain.entity.utility.AlertType).PULSE]}">
                    <div class="vital-signs-type">PULSE</div>
                    <i th:if="${alert != null and alert.gravity == T(com.example.healthmonitoring.common.domain.entity.utility.Gravity).HIGH}"
                       class="fa fa-heartbeat" style="color:red"></i>
                    <i th:if="${alert != null and alert.gravity == T(com.example.healthmonitoring.common.domain.entity.utility.Gravity).MEDIUM}"
                       class="fa fa-heartbeat" style="color:orange"></i>
                    <i th:if="${alert != null and alert.gravity == T(com.example.healthmonitoring.common.domain.entity.utility.Gravity).LOW}"
                       class="fa fa-heartbeat" style="color:yellow"></i>
                    <i th:unless="${alert != null}" class="fa fa-heartbeat" style="color: green"></i>
                    <div class="value" th:text="${data.getPulseRate()} ?: 'not available' ">89</div>
                </div>
                <br>
                <div th:with="alert = ${data.getAlerts().^[alertType == T(com.example.healthmonitoring.common.domain.entity.utility.AlertType).BLOOD_PRESSURE]}">
                    <div class="vital-signs-type">BLOOD PRESSURE</div>
                    <i th:if="${alert != null and alert.gravity == T(com.example.healthmonitoring.common.domain.entity.utility.Gravity).HIGH}"
                       class="fa fa-heart" style="color:red"></i>
                    <i th:if="${alert != null and alert.gravity == T(com.example.healthmonitoring.common.domain.entity.utility.Gravity).MEDIUM}"
                       class="fa fa-heart" style="color:orange"></i>
                    <i th:if="${alert != null and alert.gravity == T(com.example.healthmonitoring.common.domain.entity.utility.Gravity).LOW}"
                       class="fa fa-heart" style="color:yellow"></i>
                    <i th:unless="${alert != null}" class="fa fa-heart" style="color:green"></i>
                    <div class="value" th:text="${data.getBloodPressure()} ?: 'not available'">120/80</div>
                </div>
            </div>
            <div class="vital-signs-right">
                <div th:with="alert = ${data.getAlerts().^[alertType == T(com.example.healthmonitoring.common.domain.entity.utility.AlertType).BODY_TEMPERATURE]}">
                    <div class="vital-signs-type">BODY TEMPERATURE</div>
                    <i th:if="${alert != null and alert.gravity == T(com.example.healthmonitoring.common.domain.entity.utility.Gravity).HIGH}"
                       class="fa fa-thermometer-three-quarters" style="color:red"></i>
                    <i th:if="${alert != null and alert.gravity == T(com.example.healthmonitoring.common.domain.entity.utility.Gravity).MEDIUM}"
                       class="fa fa-thermometer-three-quarters" style="color:orange"></i>
                    <i th:if="${alert != null and alert.gravity == T(com.example.healthmonitoring.common.domain.entity.utility.Gravity).LOW}"
                       class="fa fa-thermometer-three-quarters" style="color:yellow"></i>
                    <i th:unless="${alert != null}" class="fa fa-thermometer-three-quarters" style="color:green"></i>
                    <div class="value" th:text="${data.getBodyTemperature()} ?: 'not available'">37.5</div>
                </div>
                <br>
                <div th:with="alert = ${data.getAlerts().^[alertType == T(com.example.healthmonitoring.common.domain.entity.utility.AlertType).OXYGEN_IN_BLOOD]}">
                    <div class="vital-signs-type">OXYGEN IN BLOOD</div>
                    <i th:if="${alert != null and alert.gravity == T(com.example.healthmonitoring.common.domain.entity.utility.Gravity).HIGH}"
                       class="fa fa-tree" style="color:red"></i>
                    <i th:if="${alert != null and alert.gravity == T(com.example.healthmonitoring.common.domain.entity.utility.Gravity).MEDIUM}"
                       class="fa fa-tree" style="color:orange"></i>
                    <i th:if="${alert != null and alert.gravity == T(com.example.healthmonitoring.common.domain.entity.utility.Gravity).LOW}"
                       class="fa fa-tree" style="color:yellow"></i>
                    <i th:unless="${alert != null}" class="fa fa-tree" style="color:green"></i>
                    <div class="value" th:text="${data.getOxygenLevel()} ?: 'not available'">97%</div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
