<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HealthMO</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.6.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

    <script src="../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $("#generate").on('click', function () {
            console.log("click");
            var date = $("#date").getDate();
            if (name) {
                window.location = "/dashboard/reports?date=" + date;
            } else {
                window.location = "/dashboard/reports";
            }
        });
    </script>

</head>
<body>

<div class="date-selector">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
    <input type="button" class="btn" id="generate">Generate</input>
</div>

<div class="card-holder">
    <div class="card" th:each="data : ${reports}">
        <div class="name-and-status">
            <h1 th:text="${data.getFullName()}">Full name</h1>
        </div>
        <div class="more-info">
            <span>Age: </span>
            <span th:text="${data.getAge()}">Age: </span>
        </div>
        <div class="vitals-signs">
            <div class="vital-signs-left">
                <div>
                    <div class="vital-signs-type">PULSE</div>
                    <i class="fa fa-heartbeat"></i>
                    <div class="value" th:text="${data.getMeanPulseRate()} ?: 'not available' ">89</div>
                </div>
                <br>
                <div>
                    <div class="vital-signs-type">BLOOD PRESSURE</div>
                    <i class="fa fa-heart"></i>
                    <div class="value" th:text="${data.getMeanBloodPressure()} ?: 'not available'">120/80</div>
                </div>
            </div>
            <div class="vital-signs-right">
                <div>
                    <div class="vital-signs-type">BODY TEMPERATURE</div>
                    <i class="fa fa-thermometer-three-quarters"></i>
                    <div class="value" th:text="${data.getMeanBodyTemperature()} ?: 'not available'">37.5</div>
                </div>
                <br>
                <div>
                    <div class="vital-signs-type">OXYGEN IN BLOOD</div>
                    <i class="fa fa-tree"></i>
                    <div class="value" th:text="${data.getMeanOxygenLevel()} ?: 'not available'">97%</div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
